@model List<PortafolioModels>;

@{
    ViewData["Title"] = "Portafolio";
}

@section Scripts {

}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
  

</head>

<body>
    <header>
        <div class="Logo">
            <img src="~/Img/IMG_20230531_202440256_HDR (1) (1).png" width="500" height="500" alt="Tu Foto">
           
             <p>  ¡Hola! Mi nombre es Omar Alan Encinas Amarillas y soy un estudiante  de desarrollo de software.  </p>
                <p>Desde joven, he sentido una fascinación por el mundo de la tecnología </p>
                <p> y cómo puede transformar nuestra forma de vivir y trabajar.</p>
                <p> te dare a onocerm lo proyectos que he realizado  y Apis que he consumido a lo latgo de mi carrera </p>
                <p>tambien te dejare mis redes sociales para que puedas </p>
        </div>

    </header>

    <section id="inicio">
        <div class="container">
            <h2></h2>
            <h3></h3>


            <p></p>

        

           
        </div>
    </section>


    <section id="contacto">
        <div class="container">
            <h2>Contacto</h2>
            <p>Puedes contactarme en omar.encinas.cetis69@gmail.com o seguirme en mis redes sociales:</p>
            <a href="https://github.com/AlanEA04">
                <img src="~/Img/githubLOGO.png" alt="GitHup" width="50" height="50" style="border-radius:50%;" />
            </a>
            <a href="https://www.facebook.com/omar.amarillas.75" >
                <img src="~/Img/insta(3).jpg" alt="Facebook" width="50" height="50" style="border-radius:50%;" />
            </a>
            <a href="https://www.facebook.com/omar.amarillas.75">
                <img src="~/Img/Face.png" alt="Facebook" width="50" height="50" style="border-radius:50%;" />
            </a>
           
          
              
            <></>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 Mi Portafolio Personal. Todos los derechos reservados.</p>
        </div>
    </footer>
    <!-- Agrega el código de tu tabla aquí -->
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Telefono</td>
                <td>@item.Correo</td>
                <td>@item.Descripcion</td>
                <!-- Agrega más columnas según sea necesario -->
            </tr>
        }
    </tbody>
</body>

</html>
