@model List<PortafolioModels>;

@{
    ViewData["Title"] = "Portafolio";
}

@section Scripts {

}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
  

</head>

<body>
    <header>
        <div class="Logo">
            <img  src="~/Img/githublogo.png" alt="Tu Foto">
            <a href="https://github.com/AlanEA04">
                <img src="~~/Img/githublogo.png" alt="GitHup" />
            </a>
             <p>  ¡Hola! Mi nombre es Omar Alan Encinas Amarillas y soy un estudiante  de desarrollo de software.  </p>
                <p>Desde joven, he sentido una fascinación por el mundo de la tecnología </p>
                <p> y cómo puede transformar nuestra forma de vivir y trabajar.</p>
        </div>

    </header>

    <section id="inicio">
        <div class="container">
            <h2>Mi Portafolio Personal</h2>
            <h3>Tecnico Superior</h3>


            <p>Bienvenido a mi sitio web. Aquí puedes conocer más sobre mí y ver algunos de mis proyectos.</p>

        

           
        </div>
    </section>


    <section id="contacto">
        <div class="container">
            <h2>Contacto</h2>
            <p>Puedes contactarme en omar.encinas.cetis69@gmail.com o seguirme en mis redes sociales:</p>
            <ul class="redes-sociales">
          
                <li><a href="https://www.facebook.com/tu-usuario-facebook"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://github.com/tu-usuario-github"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 Mi Portafolio Personal. Todos los derechos reservados.</p>
        </div>
    </footer>
    <!-- Agrega el código de tu tabla aquí -->
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Telefono</td>
                <td>@item.Correo</td>
                <td>@item.Descripcion</td>
                <!-- Agrega más columnas según sea necesario -->
            </tr>
        }
    </tbody>
</body>

</html>
